div.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header"
    "intro"
    "cards"
    "footer";
    grid-gap: 15px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-image: linear-gradient(#1c2833, #374c5f, #1c2833);
    color: #fff;
}
.title {
    font-size: 2.5rem;
}
.heading {
    font-size: 1.8rem;
}

div.header-container {
    grid-area: header;
    text-align: center;
}
span.arabic {
    font-size: 2.8rem;
}
div.header-container .title {
    letter-spacing: 5px;
}

div.intro-container {
    grid-area: intro;
    padding: 15px;
}
figure.feature img {
    width: 100%;
    height: auto;
}
figure.feature figcaption {
    text-align: center;
    font-size: 0.7rem;
}

div.intro-container article {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

div.cards-container {
    grid-area: cards;
}
div.cards-container h1 {
    text-align: center;
    color: #000;
}
div.footer-container {
    grid-area: footer;
}

div.header-container, div.footer-container {
    color: #fff;
}

div.cards-container {
    background-color: #fff;
}

div.card-flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.card {
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    min-width: 470px;
    margin: 15px;
    box-shadow: 0 10px 10px 1px #ccc;
}
div.card.spiritual {
    background-image: url('../images/prayer-hands.jpg');
}
div.card.charity {
    background-image: url('../images/growth.jpg');
}
div.card.health {
    background-image: url('../images/fruit.jpg');
}

div.card-body {
    background-color: #fff;
    width: 45%;
    position: relative;
    top: 10px;
    left: 10px;
    padding: 15px;
}

div.card-body .category {
    text-decoration: none;
}
div.card-body h3, div.card-body p {
    color: #000;
}

div.social-flex-container {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}


@media(min-width: 600px) {

    figure.feature img {
        max-width: 650px;
        height: auto;
    }
    figure.feature img.feature-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
